<footer>
    <div class="f-info">
        <div class="f-links">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook" style="color:#4267B2;"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #E1306C;"></i></a>
            <a href="https://in.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #0A66C2;"></i></a>
        </div>
        <div>&copy;Wanderlust Private Limited</div>
        <div class="f-text">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>