<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
        <form method="post" action="/listings/new" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" name="title" type="text" placeholder="enter title" required>
            <div class="valid-feedback">
                Looks good Title
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" name="description" type="text" placeholder="enter description" required>
            <div class="invalid-feedback">
                enter valid Description
            </div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label mb-1">Category</label>
            <select name="category" id="category" class="form-select form-select-md mb-3" required>
                <option value="" disabled selected>Select a category</option>
                <option value="Top Cities">Top Cities</option>
                <option value="Rooms">Rooms</option>
                <option value="Mansions">Mansions</option>
                <option value="Cabins">Cabins</option>
                <option value="Tropical">Tropical</option>
                <option value="Beach">Beach</option>
                <option value="Lakes">Lakes</option>
                <option value="Arctic">Arctic</option>
                <option value="Desert">Desert</option>
                <option value="Mountains">Mountains</option>
                <option value="Countryside">Countryside</option>
                <option value="Camping">Camping</option>
                <option value="Swimming Pools">Swimming Pools</option>
                <option value="Amazing Views">Amazing Views</option>
                <option value="Historical Homes">Historical Homes</option>
            </select>

            <div class="invalid-feedback">
                Please select a valid category
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="image">Upload Image</label>
            <input class="form-control" name="image" type="file" accept=".jpg, .jpeg, .png" required>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
              <label class="form-label" for="price">Price</label>
              <input class="form-control" name="price" type="number" placeholder="enter price" required>
              <div class="invalid-feedback">
                enter valid price
              </div>
            </div>
            <div class="mb-3 col-md-8">
              <label class="form-label" for="location">Location</label>
              <input class="form-control" name="location" type="text" placeholder="enter location" required>
              <div class="invalid-feedback">
                enter valid location
              </div>
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="country">Country</label>
            <input class="form-control" name="country" type="text" placeholder="enter country" required>
            <div class="invalid-feedback">
                enter valid country
            </div>
        </div>

        <br>

        <button class="btn mb-3" style="color: white;">Add</button>

        </form>

        </div>
    </div>
    <script>
        document.querySelector('input[name="image"]').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const allowedExtensions = ['image/jpeg', 'image/png', 'image/jpg'];
            
            if (file && !allowedExtensions.includes(file.type)) {
                alert('Only JPG,JPEG and PNG files are allowed.');
                event.target.value = ''; // Clear the input
            }
        });
    </script>    
</body>
